<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Times,serif;font-size:12.9px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:12.9px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
span.cls_002{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Times,serif;font-size:12.9px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:12.9px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:7.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:7.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:"Calibri",serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:"Calibri",serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Times,serif;font-size:12.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Times,serif;font-size:12.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_008{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
-->
</style>
<script type="text/javascript" src="295b88d4-7c24-11ea-8b25-0cc47a792c0a_id_295b88d4-7c24-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="295b88d4-7c24-11ea-8b25-0cc47a792c0a_id_295b88d4-7c24-11ea-8b25-0cc47a792c0a_files/background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:169.20px;top:60.84px" class="cls_003"><span class="cls_003">Monday to Friday</span></div>
<div style="position:absolute;left:373.56px;top:60.84px" class="cls_003"><span class="cls_003">Monday to Saturday</span></div>
<div style="position:absolute;left:87.48px;top:90.36px" class="cls_002"><span class="cls_002">S.No.</span></div>
<div style="position:absolute;left:122.76px;top:90.36px" class="cls_002"><span class="cls_002">Start Time</span></div>
<div style="position:absolute;left:204.48px;top:87.96px" class="cls_004"><span class="cls_004">BUS of LNMIIT</span></div>
<div style="position:absolute;left:393.60px;top:87.96px" class="cls_004"><span class="cls_004">BUS of Govt.</span></div>
<div style="position:absolute;left:198.96px;top:108.96px" class="cls_002"><span class="cls_002">From</span></div>
<div style="position:absolute;left:278.88px;top:108.96px" class="cls_002"><span class="cls_002">To</span></div>
<div style="position:absolute;left:327.00px;top:110.64px" class="cls_005"><span class="cls_005">Bus No.</span></div>
<div style="position:absolute;left:384.00px;top:108.96px" class="cls_002"><span class="cls_002">From</span></div>
<div style="position:absolute;left:460.92px;top:108.96px" class="cls_002"><span class="cls_002">To</span></div>
<div style="position:absolute;left:96.36px;top:125.40px" class="cls_006"><span class="cls_006">1</span></div>
<div style="position:absolute;left:128.64px;top:125.40px" class="cls_006"><span class="cls_006">7:00 AM</span></div>
<div style="position:absolute;left:186.48px;top:125.40px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:270.12px;top:125.40px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:336.72px;top:125.40px" class="cls_006"><span class="cls_006">1</span></div>
<div style="position:absolute;left:368.04px;top:125.40px" class="cls_006"><span class="cls_006">Chomu Puliya</span></div>
<div style="position:absolute;left:442.32px;top:125.40px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:96.36px;top:146.28px" class="cls_006"><span class="cls_006">2</span></div>
<div style="position:absolute;left:128.64px;top:146.28px" class="cls_006"><span class="cls_006">8:00 AM</span></div>
<div style="position:absolute;left:186.48px;top:146.28px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:270.12px;top:146.28px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:336.72px;top:146.28px" class="cls_006"><span class="cls_006">2</span></div>
<div style="position:absolute;left:371.52px;top:146.28px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:452.16px;top:146.28px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:96.36px;top:167.16px" class="cls_006"><span class="cls_006">3</span></div>
<div style="position:absolute;left:128.64px;top:167.16px" class="cls_006"><span class="cls_006">8:45 AM</span></div>
<div style="position:absolute;left:204.72px;top:167.16px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:250.68px;top:167.16px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:381.36px;top:167.16px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:442.68px;top:167.16px" class="cls_006"><span class="cls_006">Nai Ki Thadi</span></div>
<div style="position:absolute;left:96.36px;top:188.04px" class="cls_006"><span class="cls_006">4</span></div>
<div style="position:absolute;left:128.64px;top:188.04px" class="cls_006"><span class="cls_006">9:10 AM</span></div>
<div style="position:absolute;left:204.72px;top:188.04px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:188.04px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:371.88px;top:188.04px" class="cls_006"><span class="cls_006">Nai Ki Thadi</span></div>
<div style="position:absolute;left:452.16px;top:188.04px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:96.36px;top:211.68px" class="cls_006"><span class="cls_006">5</span></div>
<div style="position:absolute;left:128.64px;top:211.68px" class="cls_006"><span class="cls_006">9:15 AM</span></div>
<div style="position:absolute;left:204.72px;top:211.68px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:211.68px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:381.36px;top:211.68px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:438.84px;top:211.68px" class="cls_006"><span class="cls_006">Chomu Puliya</span></div>
<div style="position:absolute;left:96.36px;top:235.32px" class="cls_006"><span class="cls_006">6</span></div>
<div style="position:absolute;left:126.12px;top:235.32px" class="cls_006"><span class="cls_006">10:00 AM</span></div>
<div style="position:absolute;left:204.72px;top:235.32px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:235.32px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:389.76px;top:235.32px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:235.32px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:96.36px;top:256.32px" class="cls_006"><span class="cls_006">7</span></div>
<div style="position:absolute;left:126.12px;top:256.32px" class="cls_006"><span class="cls_006">11:00 AM</span></div>
<div style="position:absolute;left:196.32px;top:256.32px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:260.28px;top:256.32px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:336.72px;top:256.32px" class="cls_006"><span class="cls_006">1</span></div>
<div style="position:absolute;left:389.76px;top:256.32px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:256.32px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:96.36px;top:277.44px" class="cls_006"><span class="cls_006">8</span></div>
<div style="position:absolute;left:126.12px;top:277.44px" class="cls_006"><span class="cls_006">11:15 AM</span></div>
<div style="position:absolute;left:204.72px;top:277.44px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:277.44px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:368.04px;top:277.44px" class="cls_006"><span class="cls_006">Chomu Puliya</span></div>
<div style="position:absolute;left:442.32px;top:277.44px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:96.36px;top:298.32px" class="cls_006"><span class="cls_006">9</span></div>
<div style="position:absolute;left:126.48px;top:298.32px" class="cls_006"><span class="cls_006">12:00 PM</span></div>
<div style="position:absolute;left:204.72px;top:298.32px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:298.32px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:371.52px;top:298.32px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:452.16px;top:298.32px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:93.84px;top:319.20px" class="cls_006"><span class="cls_006">10</span></div>
<div style="position:absolute;left:126.48px;top:319.20px" class="cls_006"><span class="cls_006">12:45 PM</span></div>
<div style="position:absolute;left:204.72px;top:319.20px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:319.20px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:381.36px;top:319.20px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:442.68px;top:319.20px" class="cls_006"><span class="cls_006">Nai Ki Thadi</span></div>
<div style="position:absolute;left:93.84px;top:340.08px" class="cls_006"><span class="cls_006">11</span></div>
<div style="position:absolute;left:129.00px;top:340.08px" class="cls_006"><span class="cls_006">1:25 PM</span></div>
<div style="position:absolute;left:204.72px;top:340.08px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:340.08px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:371.88px;top:340.08px" class="cls_006"><span class="cls_006">Nai Ki Thadi</span></div>
<div style="position:absolute;left:452.16px;top:340.08px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:93.84px;top:363.72px" class="cls_006"><span class="cls_006">12</span></div>
<div style="position:absolute;left:129.00px;top:363.72px" class="cls_006"><span class="cls_006">1:30 PM</span></div>
<div style="position:absolute;left:186.48px;top:363.72px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:270.12px;top:363.72px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:336.72px;top:363.72px" class="cls_006"><span class="cls_006">1</span></div>
<div style="position:absolute;left:381.36px;top:363.72px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:438.84px;top:363.72px" class="cls_006"><span class="cls_006">Chomu Puliya</span></div>
<div style="position:absolute;left:93.84px;top:387.36px" class="cls_006"><span class="cls_006">13</span></div>
<div style="position:absolute;left:129.00px;top:387.36px" class="cls_006"><span class="cls_006">3:05 PM</span></div>
<div style="position:absolute;left:196.32px;top:387.36px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:260.28px;top:387.36px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:336.72px;top:387.36px" class="cls_006"><span class="cls_006">2</span></div>
<div style="position:absolute;left:389.76px;top:387.36px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:387.36px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:93.84px;top:408.24px" class="cls_006"><span class="cls_006">14</span></div>
<div style="position:absolute;left:129.00px;top:408.24px" class="cls_006"><span class="cls_006">3:30 PM</span></div>
<div style="position:absolute;left:204.72px;top:408.24px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:408.24px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:368.04px;top:408.24px" class="cls_006"><span class="cls_006">Chomu Puliya</span></div>
<div style="position:absolute;left:442.32px;top:408.24px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:93.84px;top:429.12px" class="cls_006"><span class="cls_006">15</span></div>
<div style="position:absolute;left:129.00px;top:429.12px" class="cls_006"><span class="cls_006">4:00 PM</span></div>
<div style="position:absolute;left:204.72px;top:429.12px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:429.12px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:371.52px;top:429.12px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:452.16px;top:429.12px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:93.84px;top:450.00px" class="cls_006"><span class="cls_006">16</span></div>
<div style="position:absolute;left:129.00px;top:450.00px" class="cls_006"><span class="cls_006">4:45 PM</span></div>
<div style="position:absolute;left:204.72px;top:450.00px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:450.00px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:381.36px;top:450.00px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:442.68px;top:450.00px" class="cls_006"><span class="cls_006">Nai Ki Thadi</span></div>
<div style="position:absolute;left:93.84px;top:470.88px" class="cls_006"><span class="cls_006">17</span></div>
<div style="position:absolute;left:129.00px;top:470.88px" class="cls_006"><span class="cls_006">5:00 PM</span></div>
<div style="position:absolute;left:186.48px;top:470.88px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:270.12px;top:470.88px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:336.72px;top:470.88px" class="cls_006"><span class="cls_006">2</span></div>
<div style="position:absolute;left:389.76px;top:470.88px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:470.88px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:93.84px;top:487.92px" class="cls_006"><span class="cls_006">18</span></div>
<div style="position:absolute;left:129.00px;top:487.92px" class="cls_006"><span class="cls_006">5:20 PM</span></div>
<div style="position:absolute;left:204.72px;top:487.92px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:487.92px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:371.88px;top:487.92px" class="cls_006"><span class="cls_006">Nai Ki Thadi</span></div>
<div style="position:absolute;left:452.16px;top:487.92px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:93.84px;top:507.72px" class="cls_006"><span class="cls_006">19</span></div>
<div style="position:absolute;left:129.00px;top:507.72px" class="cls_006"><span class="cls_006">5:30 PM</span></div>
<div style="position:absolute;left:204.72px;top:507.72px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:278.52px;top:507.72px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:381.36px;top:507.72px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:438.84px;top:507.72px" class="cls_006"><span class="cls_006">Chomu Puliya</span></div>
<div style="position:absolute;left:93.84px;top:531.36px" class="cls_006"><span class="cls_006">20</span></div>
<div style="position:absolute;left:129.00px;top:531.36px" class="cls_006"><span class="cls_006">6:15 PM</span></div>
<div style="position:absolute;left:196.32px;top:531.36px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:260.28px;top:531.36px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:336.72px;top:531.36px" class="cls_006"><span class="cls_006">1</span></div>
<div style="position:absolute;left:389.76px;top:531.36px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:531.36px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:93.84px;top:552.24px" class="cls_006"><span class="cls_006">21</span></div>
<div style="position:absolute;left:129.00px;top:552.24px" class="cls_006"><span class="cls_006">6:30 PM</span></div>
<div style="position:absolute;left:196.32px;top:552.24px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:265.80px;top:552.24px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:336.72px;top:552.24px" class="cls_006"><span class="cls_006">2</span></div>
<div style="position:absolute;left:389.76px;top:552.24px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:552.24px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:93.84px;top:573.12px" class="cls_006"><span class="cls_006">22</span></div>
<div style="position:absolute;left:129.00px;top:573.12px" class="cls_006"><span class="cls_006">7:00 PM</span></div>
<div style="position:absolute;left:196.32px;top:573.12px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:265.80px;top:573.12px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:336.72px;top:573.12px" class="cls_006"><span class="cls_006">3</span></div>
<div style="position:absolute;left:389.76px;top:573.12px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:573.12px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:93.84px;top:594.00px" class="cls_006"><span class="cls_006">23</span></div>
<div style="position:absolute;left:129.00px;top:594.00px" class="cls_006"><span class="cls_006">7:15 PM</span></div>
<div style="position:absolute;left:192.12px;top:594.00px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:270.12px;top:594.00px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:336.72px;top:594.00px" class="cls_006"><span class="cls_006">2</span></div>
<div style="position:absolute;left:389.76px;top:594.00px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:594.00px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:93.84px;top:614.88px" class="cls_006"><span class="cls_006">24</span></div>
<div style="position:absolute;left:129.00px;top:614.88px" class="cls_006"><span class="cls_006">8:05 PM</span></div>
<div style="position:absolute;left:196.32px;top:614.88px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:260.28px;top:614.88px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:336.72px;top:614.88px" class="cls_006"><span class="cls_006">2</span></div>
<div style="position:absolute;left:389.76px;top:614.88px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:614.88px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:93.84px;top:635.76px" class="cls_006"><span class="cls_006">25</span></div>
<div style="position:absolute;left:129.00px;top:635.76px" class="cls_006"><span class="cls_006">8:30 PM</span></div>
<div style="position:absolute;left:186.48px;top:635.76px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:270.12px;top:635.76px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:336.72px;top:635.76px" class="cls_006"><span class="cls_006">1</span></div>
<div style="position:absolute;left:389.76px;top:635.76px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:635.76px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:93.84px;top:656.64px" class="cls_006"><span class="cls_006">26</span></div>
<div style="position:absolute;left:129.00px;top:656.64px" class="cls_006"><span class="cls_006">9:30 PM</span></div>
<div style="position:absolute;left:186.48px;top:656.64px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:270.12px;top:656.64px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:336.72px;top:656.64px" class="cls_006"><span class="cls_006">2</span></div>
<div style="position:absolute;left:389.76px;top:656.64px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:656.64px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:93.84px;top:677.52px" class="cls_006"><span class="cls_006">27</span></div>
<div style="position:absolute;left:129.00px;top:677.52px" class="cls_006"><span class="cls_006">9:45 PM</span></div>
<div style="position:absolute;left:192.12px;top:677.52px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:270.12px;top:677.52px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:336.72px;top:677.52px" class="cls_006"><span class="cls_006">3</span></div>
<div style="position:absolute;left:389.76px;top:677.52px" class="cls_006"><span class="cls_006">----</span></div>
<div style="position:absolute;left:460.56px;top:677.52px" class="cls_006"><span class="cls_006">----</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="295b88d4-7c24-11ea-8b25-0cc47a792c0a_id_295b88d4-7c24-11ea-8b25-0cc47a792c0a_files/background2.jpg" width=612 height=792></div>
<div style="position:absolute;left:139.56px;top:56.28px" class="cls_007"><span class="cls_007">Saturday, Sunday and Holiday</span></div>
<div style="position:absolute;left:240.12px;top:78.60px" class="cls_008"><span class="cls_008">BUS of LNMIIT</span></div>
<div style="position:absolute;left:81.48px;top:89.28px" class="cls_002"><span class="cls_002">S.No.</span></div>
<div style="position:absolute;left:117.96px;top:89.28px" class="cls_002"><span class="cls_002">Start Time</span></div>
<div style="position:absolute;left:215.16px;top:100.20px" class="cls_002"><span class="cls_002">From</span></div>
<div style="position:absolute;left:318.96px;top:100.20px" class="cls_002"><span class="cls_002">To</span></div>
<div style="position:absolute;left:90.48px;top:120.72px" class="cls_006"><span class="cls_006">1</span></div>
<div style="position:absolute;left:123.84px;top:120.72px" class="cls_006"><span class="cls_006">8:00 AM</span></div>
<div style="position:absolute;left:202.68px;top:120.72px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:310.20px;top:120.72px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:90.48px;top:141.60px" class="cls_006"><span class="cls_006">2</span></div>
<div style="position:absolute;left:121.20px;top:141.60px" class="cls_006"><span class="cls_006">10:00 AM</span></div>
<div style="position:absolute;left:212.52px;top:141.60px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:300.00px;top:141.60px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:90.48px;top:162.48px" class="cls_006"><span class="cls_006">3</span></div>
<div style="position:absolute;left:121.20px;top:162.48px" class="cls_006"><span class="cls_006">12:00 AM</span></div>
<div style="position:absolute;left:212.52px;top:162.48px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:300.36px;top:162.48px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:90.48px;top:183.36px" class="cls_006"><span class="cls_006">4</span></div>
<div style="position:absolute;left:124.20px;top:183.36px" class="cls_006"><span class="cls_006">1:30 PM</span></div>
<div style="position:absolute;left:202.68px;top:183.36px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:310.20px;top:183.36px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:90.48px;top:204.24px" class="cls_006"><span class="cls_006">5</span></div>
<div style="position:absolute;left:124.20px;top:204.24px" class="cls_006"><span class="cls_006">3:00 PM</span></div>
<div style="position:absolute;left:202.68px;top:204.24px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:310.20px;top:204.24px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:90.48px;top:225.12px" class="cls_006"><span class="cls_006">6</span></div>
<div style="position:absolute;left:124.20px;top:225.12px" class="cls_006"><span class="cls_006">3:30 PM</span></div>
<div style="position:absolute;left:212.52px;top:225.12px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:305.88px;top:225.12px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:90.48px;top:246.00px" class="cls_006"><span class="cls_006">7</span></div>
<div style="position:absolute;left:123.84px;top:246.00px" class="cls_006"><span class="cls_006">4:15 PM</span></div>
<div style="position:absolute;left:212.52px;top:246.00px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:305.88px;top:246.00px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:90.48px;top:266.88px" class="cls_006"><span class="cls_006">8</span></div>
<div style="position:absolute;left:123.84px;top:266.88px" class="cls_006"><span class="cls_006">4:30 PM</span></div>
<div style="position:absolute;left:208.20px;top:266.88px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:310.20px;top:266.88px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:90.48px;top:287.76px" class="cls_006"><span class="cls_006">9</span></div>
<div style="position:absolute;left:123.84px;top:287.76px" class="cls_006"><span class="cls_006">5:30 PM</span></div>
<div style="position:absolute;left:208.20px;top:287.76px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:310.20px;top:287.76px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:87.84px;top:308.64px" class="cls_006"><span class="cls_006">10</span></div>
<div style="position:absolute;left:124.92px;top:308.64px" class="cls_006"><span class="cls_006">6:15PM</span></div>
<div style="position:absolute;left:212.16px;top:308.64px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:300.00px;top:308.64px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:87.84px;top:329.52px" class="cls_006"><span class="cls_006">11</span></div>
<div style="position:absolute;left:123.84px;top:329.52px" class="cls_006"><span class="cls_006">6:30 PM</span></div>
<div style="position:absolute;left:212.16px;top:329.52px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:305.52px;top:329.52px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:87.84px;top:350.40px" class="cls_006"><span class="cls_006">12</span></div>
<div style="position:absolute;left:123.84px;top:350.40px" class="cls_006"><span class="cls_006">7:00 PM</span></div>
<div style="position:absolute;left:212.16px;top:350.40px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:305.52px;top:350.40px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:87.84px;top:371.28px" class="cls_006"><span class="cls_006">13</span></div>
<div style="position:absolute;left:123.84px;top:371.28px" class="cls_006"><span class="cls_006">7:15 PM</span></div>
<div style="position:absolute;left:207.84px;top:371.28px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:309.84px;top:371.28px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:87.84px;top:392.16px" class="cls_006"><span class="cls_006">14</span></div>
<div style="position:absolute;left:123.84px;top:392.16px" class="cls_006"><span class="cls_006">7:30 PM</span></div>
<div style="position:absolute;left:202.32px;top:392.16px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:309.84px;top:392.16px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:87.84px;top:413.04px" class="cls_006"><span class="cls_006">15</span></div>
<div style="position:absolute;left:123.84px;top:413.04px" class="cls_006"><span class="cls_006">8:05 PM</span></div>
<div style="position:absolute;left:212.16px;top:413.04px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:300.00px;top:413.04px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:87.84px;top:433.92px" class="cls_006"><span class="cls_006">16</span></div>
<div style="position:absolute;left:123.84px;top:433.92px" class="cls_006"><span class="cls_006">9:30 PM</span></div>
<div style="position:absolute;left:202.32px;top:433.92px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:309.84px;top:433.92px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:87.84px;top:454.80px" class="cls_006"><span class="cls_006">17</span></div>
<div style="position:absolute;left:123.84px;top:454.80px" class="cls_006"><span class="cls_006">9:30 PM</span></div>
<div style="position:absolute;left:202.32px;top:454.80px" class="cls_006"><span class="cls_006">Ajmeri Gate</span></div>
<div style="position:absolute;left:309.84px;top:454.80px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
<div style="position:absolute;left:87.84px;top:475.68px" class="cls_006"><span class="cls_006">18</span></div>
<div style="position:absolute;left:123.84px;top:475.68px" class="cls_006"><span class="cls_006">9:45 PM</span></div>
<div style="position:absolute;left:207.84px;top:475.68px" class="cls_006"><span class="cls_006">Raja Park</span></div>
<div style="position:absolute;left:309.84px;top:475.68px" class="cls_006"><span class="cls_006">LNMIIT</span></div>
</div>

</body>
</html>
